<% Post.all.reverse.each do |post| %>
  <div class="row">
    <div class="col-xs-9">
      <h2><%= link_to post.title, post_path(post.id) %></h2>
      <p>by <b><%= last_user_name(post) %></b> on <b><%= post.created_at.to_formatted_s(:long) %></b> - <%= link_to pluralize(post.comments.length, "comment"), "#{post_path(post.id)}#comments" %></p>
      <div class="row">
        <div class="col-xs-9">
          <p><%= post.text.truncate(600) %></p>
          <p class="lead"><%= link_to 'Read More', post_path(post.id), class: "btn btn-default" %></p>
        </div>
      </div>
    </div>
  </div>
  <hr>
<% end %>

