<h2>Edit user</h2>
<div class="col-md-7">
    
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>

    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>

    <%= f.label :password_confirmation, "Password confirmation" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>

    <%= f.submit "Update account", class: "btn btn-large btn-primary" %>
  <% end %>
</div>
<div class="col-md-5">
  <div class="profile-image">
    <% url = @imageManager.get_image_url(@user.image_id) %>
    <%= image_tag(url, width: 120, height: 120) %>
    <%= form_tag("#{user_path}/upload_image", multipart: :true) do %>
      <br>
      <%= file_field_tag :image %><br>

      <%= submit_tag "Upload image", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>