<div class="row">
  <div class="col-xs-9">
    <h3> Edit Post</h3>
    <%= form_for(@post) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %><br />

      <%= f.label :author %>
      <%= f.text_field :author, value: current_user.name, disabled: :true %><br />

      <%= f.label :text %>
      <%= f.text_area :text, class: "form-control" %><br />

      <%= f.submit "Save Post", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
