<div class="row">
  <div class="col-xs-10">
    <h2><%= @post.title %></h2>
    <p>by <b><%= @post.author %></b> on <b><%= @post.created_at.to_formatted_s(:long) %></b> - <%= link_to pluralize(@post.comments.length, "comment"), "#comments" %></p>
    <div class="row">
      <div class="col-xs-12">
        <p><%= @post.text %></p><br>
        <%= @presenter.display_edit_button %>
        <%= @presenter.display_delete_button %>
      </div>
    </div>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-xs-9">
    <h4>Leave a comment</h4>
    <%= form_for(@comment) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field 'id', value: @post.id %>

      <%= f.label :user, 'Name' %>
      <%= f.text_field :user, class: "form-control" %><br />
    
      <%= f.label :text, 'Comment' %>
      <%= f.text_area :text, rows: '5', class: "form-control" %><br />

      <%= f.submit "Submit Comment", class: "btn btn-large btn-primary" %>
      <br><br><br>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-9">
    <a name="comments"></a>
    <h4>Comments</h4>
      <br>
      <p><%= @presenter.no_comments_message %></p>
  </div>
</div>

<div class="col-xs-10">
  <% @post.comments.reverse.each do |comment| %>
  <div class="row comment">
    <div class="col-xs-1">
      <%= image_tag("no_photo.gif", width: 50, height: 50) %>
    </div>
    <div class="col-xs-11">
      <p><b><%= comment.user %></b></p>
      <p><%= comment.text %></p>
    </div>
  </div>
  <% end %>
</div>