<!DOCTYPE html>
<html>
<head>
  <title>SampleBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "custom" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<div class="posts">
			<%= yield %>
		</div>
		<div class="menu">
			<p> Home </p>
			<p> Publicar Post </p>
		</div>
	</div>

</body>
</html>
